<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Want this in your belly? {{burger_name}}
		{{else}}OmNOMNOM{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
